<html>
<head>
<title>Sedes</title>
</head>
<body>
	<table class=>
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Bank</th>
				<th>Code</th>
				<th>Address</th>
			</tr>
		</thead>
		
		<tbody>
<!-- 	{% for account in accounts %} -->
<!-- 			<tr> -->
<!-- 				<td>{{ account.id }}</td> -->
<!-- 				<td>{{ account.number }}</td> -->
<!-- 				<td>{{ account.balance }}</td> -->
<!-- 				<td> -->
<!-- 					<ul> -->
<!-- 				{% for owner in account.owners %} -->
<!-- 					<li>{{owner.firstName}} {{owner.lastName}}</li> -->
<!-- 				{% endfor %} -->
<!-- 					</ul> -->
<!-- 				</td> -->
<!-- 				<td>{{ account.created }}</td> -->
<!-- 			</tr> -->
<!-- 	{% endfor %} -->
        </tbody>
      </table>
      <br />
      <a href="add-bank">Add Sede</a>
</body>
</html>